    /*---------------------------HTML--------------*/
    
    html {
        scroll-behavior: smooth;
    }
    /*----------------------applies to all elements-----*/
    
    .row {
        margin: 0px;
    }
    /*-----------all text styling-------------*/
    
    * {
        font-family: 'Roboto Mono', monospace;
        font-size: small;
    }
    /*-----heading and navbar styling*/
    
    .heading {
        background-image: url("/assets/images/karson-NyIBNMueUQI-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    
    .site-intro {
        text-align: center;
        background-color: rgb(15, 8, 83);
        margin: 0px;
        height: 60px;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    
    .guide-button {
        text-align: center;
        margin: 10px;
        background-color: #ffffff;
        width: 150px;
        cursor: pointer;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: #000000;
    }
    
    .navbar {
        background-color: rgb(15, 8, 83);
    }
    
    .abt-tallinn {
        padding: 30px;
        background-color: #dddbe2;
        width: 90%;
        color: #000000;
        font-weight: bold;
    }
    /*---between sections image---*/
    
    .tallinn-old-town {
        background-image: url("/assets/images/nikola-johnny-mirkovic-DXfbUCVg4zE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
    }
    /*----about the city section styling----*/
    
    .about-header {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(15, 8, 83);
        color: rgb(255, 255, 255);
    }
    /*--my recommendations sections--*/
    
    .recommendations-intro {
        padding: 30px;
        background-color: #dddbe2;
        width: 90%;
        color: #000000;
        font-weight: bold;
    }
    
    .rec-heading {
        background-color: rgb(124, 0, 0);
        color: white;
        border: white solid 1px;
        text-align: center;
        cursor: pointer;
        transition: ease-in-out;
        transition-duration: 0.5s;
    }
    
    .rec-heading:hover {
        background-color: rgb(83, 0, 0);
        transition-duration: 0.5s;
    }
    
    .recommendations {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #000000;
        color: #ffffff;
    }
    
    .top-things-detailed {
        border: 1px solid #ffffff;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #dddbe2;
        color: #000000;
    }
    
    .activities-bg-img {
        background-image: url("/assets/images/gleb-makarov-yDPm04K3e9Y-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
    }
    
    a {
        color: #ffffff;
    }
    
    .events,
    .food-drinks,
    .nightlife,
    .places {
        visibility: hidden;
    }
    /*-------map section---------*/
    
    div#map {
        min-height: 360px;
        margin-top: 15px;
    }
    
    .map-and-search {
        border: solid black 10px;
        padding: 15px;
        margin-top: 20px;
    }
    /*-------travel and hotels section------*/
    
    .travel-form {
        border: blue solid 5px;
        width: 80%;
        padding: 20px 20px 20px 20px;
        margin: 20px auto;
    }
    
    .ui-datepicker {
        background-color: #000000;
        border: 1px solid silver;
        border-radius: 10px;
    }
    
    span {
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
    
    span:hover {
        color: rgb(59, 59, 59);
    }
    
    .flight-search {
        height: 37px;
    }
    
    .pax-count {
        height: 30px;
        width: 30px;
        border: 1px solid black;
    }
    
    ;
    /*---footer sections styling---*/
    
    .footer {
        margin: 0px;
        background-color: #000000;
    }
    
    .footer>row {
        padding: 0px;
    }
    
    .social,
    .newsletter-signup,
    .all-rights-reserved {
        background-color: #000000;
        color: ivory;
        padding-left: 0px;
    }
    
    .newsletter-form {
        width: 50%;
    }
    /*----------------a tag hover styling----------------*/
    
    a:hover {
        font-weight: bolder;
        color: firebrick;
        background: gold;
        border: silver;
        transition-duration: 0.2s;
        animation-duration: 0.2s;
        text-decoration: none;
    }
    /*----------------btn styling-----------*/
    
    .btn-primary {
        background-color: blanchedalmond;
        color: darkslategray;
        border: 1px solid black;
    }
    
    .btn-primary:hover {
        font-weight: bolder;
        color: firebrick;
        background: gold;
        border: silver;
        transition-duration: 0.2s;
        animation-duration: 0.2s;
    }
    /*--------media queries------*/
    
    @media (max-width: 991px) {
        .tallinn-old-town {
            background-attachment: scroll !important;
        }
        .activities-bg-img {
            background-attachment: scroll !important;
        }
    }