    /*-
Font: 
font-family: 'Roboto Mono', monospace;
BC Color: 
1st : #237AEB
2nd : #000000
3rd : #FFFFFF
-*/
    /*---------------------------HTML--------------*/
    
    html {
        scroll-behavior: smooth;
    }
    /*-----heading and navbar styling*/
    
    .heading {
        background-image: url("/assets/images/karson-NyIBNMueUQI-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    
    .site-intro {
        text-align: center;
        background-color: rgb(26, 7, 204);
        margin: 0px;
        height: 60px;
    }
    
    .guide-button {
        text-align: center;
        margin: 10px;
        background-color: #ffffff;
        border-radius: 10px;
        width: 150px;
        cursor: pointer;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: #000000;
    }
    
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #000000;
        font-weight: bolder;
    }
    
    .navbar {
        background-color: rgb(26, 7, 204);
    }
    /*---between sections image---*/
    
    .tallinn-old-town {
        background-image: url("/assets/images/nikola-johnny-mirkovic-DXfbUCVg4zE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
    }
    /*----about the city section styling----*/
    
    .about-header {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(26, 7, 204);
    }
    /*--my recommendations sections--*/
    
    .recommendations-intro {
        padding: 30px;
    }
    
    .recommendations {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #000000;
        color: #ffffff;
    }
    
    .top-things {
        text-align: center;
    }
    
    .top-things-detailed {
        border: 1px solid #ffffff;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        background-color: black;
    }
    
    h3 {
        text-align: center;
        color: #ffffff;
    }
    
    .activities-bg-img {
        background-image: url("/assets/images/gleb-makarov-yDPm04K3e9Y-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 500px;
    }
    
    a {
        color: #ffffff;
    }
    
    .row {
        margin: 0px;
    }
    /*-------map section---------*/
    
    div#map {
        min-height: 360px;
    }
    /*-------travel and hotels section------*/
    
    .travel-form {
        border: blue solid 5px;
        width: 80%;
        padding: 20px 20px 20px 20px;
        margin: 0 auto;
    }
    
    .ui-datepicker {
        background-color: #000000;
        border: #ffffff;
        border-radius: 10px;
    }
    
    .flight-search {
        height: 37px;
    }
    
    .pax-count {
        height: 30px;
        width: 30px;
        border: 1px solid black;
    }
    
    ;
    /*---footer sections styling---*/
    
    .footer {
        margin: 0px;
        background-color: #000000;
    }
    
    .social {
        background-color: #000000;
        color: ivory;
    }
    
    .social-links {
        padding-left: 0px;
    }
    
    .local-help-links {
        color: ivory;
        background-color: #000000;
    }
    
    .all-rights-reserved {
        color: ivory;
        text-align: center;
        background-color: #000000;
    }
    
    .newsletter-signup {
        color: ivory;
        background-color: #000000;
    }
    /*--------media queries------*/